@import './utils/mixins.scss';

.App {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  height: 100vh;
  width: 100%;
}

.container {
  @include contentPaddingInline;
  padding-bottom: 20px;
}