@import './utils/variabels.scss';
@import './utils/mixins.scss';

.header {
  box-sizing: border-box;
  padding-block: 10px;
  padding-inline: 20px;
  height: 100px;
  width: 100%;

  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: $midDarkColor;

  @include onTablet {
    padding-inline: 40px;
  }

  @include onDesktop {
    padding-inline: 80px;
  }

  &__title {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    text-shadow: 5px -2px 3px rgba(170, 90, 51, 0.8);
    align-self: center;
  }
}

.account {
  &__info {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__log-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  &__full-name {
    padding: 0;
    margin: 0;
    min-width: 100px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-shadow: 5px -2px 3px rgba(170, 90, 51, 0.8);
  }
}

.log {
  height:40px;
  border: none;
  background-color: transparent;
  padding: 0;

  &-status {
    cursor: pointer;
  }

  &-out {
    transform: scaleX(-1);
  }
}
