$tablet-min-width: 576px;
$desktop-min-width: 992px;

$accentColor: #18193F;

// palette color
$extraDarkColor: #aa5a33;
$darkColor: #f3814a;
$midDarkColor: #f69c70;
$midColor: #fcbc9d;
$midLightColor: #ffd8bf;
$lightColor: #fff0de;
